{% extends 'base/base-site.html' %}
    {% block css %}
    <style>
        .venue_filter_form .nice-select {
            width: 100%;
        }
        .price_range_filter{
            border: 1px solid #e8e8e8;
            border-radius: 2px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
            height: 50px;
            line-height: 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
        }
        .price_range_filter input{
            max-width: 50%;
            height: 30px;
            text-align: center;
        }
    </style>
    {% endblock %}
    {% block breadcrumb %}
      <div class="page-header" data-bg-image="/static/assets/images/banner/page-header.jpg">
        <div class="container">
            <div class="row">
                <!-- page caption -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="page-caption">
                        <h1 class="page-title">Listing Venue</h1>
                    </div>
                </div>
                <!-- /.page caption -->
            </div>
        </div>
        <!-- page caption -->
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Listing</a></li>
                            <li class="breadcrumb-item active text-white" aria-current="page">Listing Gird View</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- page breadcrumb -->
    </div>
    {% endblock %}
    {% block content %}
    <!-- filter-form -->
    <div class="filter-form">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <form class="form-row venue_filter_form" action="" method="GET">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            {{ filters.form.city }}
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            {{ filters.form.booking_purpose }}
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <div class="price_range_filter">
                                {{ filters.form.price__gt }}
                                {{ filters.form.price__lt }}
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 ">
                            <button class="btn btn-default btn-block" type="submit">Find Venue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.filter-form -->
    <div class="content">
        <div class="container">
            <div class="row">
                {% for obj in filters.qs %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    {% include 'snippets/venue_box.html' %}
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="pagination justify-content-center">
                       <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                
                                <li class="page-item"><a class="page-link{% if not page_obj.has_previous %} disabled{% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}javascript:void(0){% endif %}">Previous</a></li>
                                
                                <li class="page-item active"><a class="page-link " href="javascript:void(0)">{{ page_obj.number }}</a></li>
                                {% if page_obj.number|add:1 %}
                                <li class="page-item"><a class="page-link " href="?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a></li>
                                {% endif %}
                                {% if page_obj.number|add:2 %}
                                <li class="page-item"><a class="page-link " href="?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a></li>
                                {% endif %}
                                <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link " href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                <li class="page-item"><a class="page-link{% if not page_obj.has_next %} disabled{% endif %}" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}javascript:void(0){% endif %}">Next</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- social-media-section -->
    <div class="social-media-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12">
                    <h3 class="text-white mb0 mt10">Would you like to connect with us</h3>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 text-right">
                    <div class="social-icons">
                        <a href="#" class="icon-square"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-twitter"></i> </a>
                        <a href="#" class="icon-square"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.social-media-section -->
    {% endblock %}