{% extends 'base/base-site.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
<style>
    .errorlist{
        padding-left: 0;
        list-style: none;
    }
    .errorlist li {
        color: red;
        line-height: 22px;
        font-size: 12px;
        text-align: right;
    }
</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="vendor-form">
    <div class="container">
        <div class="row ">
            <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12  ">
                <!-- /.vendor head -->
                <div class="st-tab">
                    <ul class="nav nav-tabs nav-justified" id="Mytabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab-2" aria-selected="false">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:registration' %}">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- vendor-login -->
                        <div class="tab-pane show fade active" id="tab2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="vendor-form-title">
                                    <!--vendor-title -->
                                    <h3 class="mb-2">Welcome Back Vendor</h3>
                                    <p>Join AMS to get your business listed or to claim your listing for FREE!</p>
                                </div>
                                {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                    <h4 class="text-white py-2 px-3 mb-1{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</h4>
                                    {% endfor %}
                                </div>
                                {% endif %}


                                <!--/.vendor-title -->
                                <form action="{% url 'account:login' %}" method="post" id="login-form" name="login-form">
                                    {% csrf_token %}
                                    {% if next_url %}
                                    <input type="hidden" name="next" value="{{ next_url }}">
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <!-- Text input-->
                                            <div class="form-group">
                                                {{ form.email }}
                                                {% if form.email.errors %}
                                                {{ form.email.errors }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group service-form-group">
                                                {{ form.password }}
                                                {% if form.password.errors %}
                                                {{ form.password.errors }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--buttons -->
                                        
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <button value="login" type="submit" name="singlebutton" class="btn btn-default">Login</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="mt-2"> Are you new User? Create a New Account.<a href="{% url 'account:registration' %}" class="wizard-form-small-text"> Click here</a></p>
                            </div>
                        </div>
                        <!-- /.vendor-login -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}