{% extends 'base/base-site.html' %}
{% load static %}

{% block title %}Welcome to Home{% endblock %}

{% block css %}
<style>
    .errorlist{
        list-style-type: none;
        padding-left: 0;
    }
    .errorlist li{
        text-align: right;
        font-size: 12px;
        color: red;
        font-weight: 600;
    }
    
</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class=" vendor-form">
    <div class="container">
        <div class="row ">
            <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12  ">
                <div class="st-tab">
                    <ul class="nav nav-tabs nav-justified" id="Mytabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active show" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab-1" aria-selected="true">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <div class="vendor-form-title">
                                    <h3 class="mb-2">Business Register</h3>
                                    <p>Join AMS get your business listed or to claim your listing for FREE!</p>
                                </div>
                                <form id="register-form" name="register-form" action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group">
                                                {{ form.full_name }}
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group">
                                                {{ form.email }}
                                                {{ form.email.errors}}
                                            </div>
                                            
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group service-form-group">
                                                {{ form.password1 }}
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <div class="form-group service-form-group">
                                                {{ form.password2 }}
                                            </div>
                                        </div>
                                        <!-- buttons -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                            <button type="submit" name="singlebutton" class="btn btn-default">Sign up</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="mt-2"> Have you subscribed? <a href="#"> Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}