{% extends 'base/base-site.html' %}
    {% block css %}
    {% endblock %}
    {% block breadcrumb %}

    {% endblock %}
    {% block content %}
    <section class="my-5 py-5">
        <div class="cotnainer">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form action="" method="post" id="payment-form" data-token="{{ stripe_pub_key }}">
                        {% csrf_token %}
                        <div class="form-row mx-0 mb-3">
                            <label for="card-element">
                                Credit or debit card
                            </label>
                            <div id="card-element" class="form-control">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                        
                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                    
                        <button class="btn btn-info btn-sm">Submit Payment</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}


    {% block js %}
    {% endblock %}