{% extends 'base/base-site.html' %}
{% load static %}
    {% block css %}
    <style>
        .venue_filter_form .nice-select {
            width: 100%;
        }
    </style>
    {% endblock %}
    {% block banner %}
    <div class="hero-section-fifth" data-bg-image="{% static 'assets/images/banner/au_01.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12 mb60">
                    <!-- search-block -->
                    <div class="text-center">
                        <div class="search-head">
                            <h1 class="search-head-title text-white">Book a Auditorium for your event</h1>
                            <p class="d-none d-xl-block d-lg-block d-sm-block text-white">Find suitable spaces for all private and corporate events</p>
                        </div>
                        <!-- /.search-block -->
                        <!-- search-form -->
                        <div class="search-form">
                            <form class="form-row" method="get" action="{% url 'search:search' %}">
                                <div class="col-md-10 col-sm-12 col-12">
                                    <input type="text" name="q" class="form-control" value="{{ request.GET.q }}" placeholder="Search ...">
                                </div>
                                <!-- button -->
                                <div class="col-md-2 col-sm-12 col-12">
                                    <button class="btn btn-default btn-block" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.search-form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}

    <div class="content">
        <div class="container">
            <div class="row">
                {% for obj in object_list %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="vendor-thumbnail">
                        <!-- Vendor thumbnail -->
                        <div class="vendor-img zoomimg">
                            <!-- Vendor img -->
                            {% if obj.image %}
                            <a href="{{ obj.get_absolute_url }}"><img src="{{ obj.image.url }}" alt="" class="img-fluid"></a>
                            {% endif %}
                            <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                        </div>
                        <!-- /.Vendor img -->
                        <div class="vendor-content">
                            <!-- Vendor Content -->
                            <h2 class="vendor-title"><a href="{{ obj.get_absolute_url }}" class="title">{{ obj.name }}</a></h2>
                            <p class="vendor-address">{{ obj.state }}, {{ obj.city }}.</p>
                        </div>
                        <div class="vendor-meta">
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-price">
                                    ${{ obj.price }}
                                </span>
                                <span class="vendor-text">Per Day</span>
                            </div>
                            <div class="vendor-meta-item vendor-meta-item-bordered">
                                <span class="vendor-guest">
                                    {{ obj.seating_capacity }}
                                </span>
                                <span class="vendor-text">Seating Capacity</span>
                            </div>
                        </div>
                        <!-- /.Vendor Content -->
                    </div>
                    <!-- /.Vendor thumbnail -->
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="pagination justify-content-center">
                       <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                
                                <li class="page-item"><a class="page-link{% if not page_obj.has_previous %} disabled{% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}javascript:void(0){% endif %}">Previous</a></li>
                                
                                <li class="page-item active"><a class="page-link " href="javascript:void(0)">{{ page_obj.number }}</a></li>
                                {% if page_obj.number|add:1 %}
                                <li class="page-item"><a class="page-link " href="?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a></li>
                                {% endif %}
                                {% if page_obj.number|add:2 %}
                                <li class="page-item"><a class="page-link " href="?page={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a></li>
                                {% endif %}
                                <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link " href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                                <li class="page-item"><a class="page-link{% if not page_obj.has_next %} disabled{% endif %}" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}javascript:void(0){% endif %}">Next</a></li>
                                
                            </ul>
                        </nav>
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- social-media-section -->
    <div class="social-media-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12">
                    <h3 class="text-white mb0 mt10">Would you like to connect with us</h3>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12 text-right">
                    <div class="social-icons">
                        <a href="#" class="icon-square"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-twitter"></i> </a>
                        <a href="#" class="icon-square"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="icon-square"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.social-media-section -->
    {% endblock %}