{% extends 'base/base-site.html' %}
{% load static %}
    {% block banner %}
    <div class="hero-section-fifth" data-bg-image="{% static 'assets/images/banner/au_01.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12 mb60">
                    <!-- search-block -->
                    <div class="text-center">
                        <div class="search-head">
                            <h1 class="search-head-title text-white">Book a Auditorium for your event</h1>
                            <p class="d-none d-xl-block d-lg-block d-sm-block text-white">Find suitable spaces for all private and corporate events</p>
                        </div>
                        <!-- /.search-block -->
                        <!-- search-form -->
                        <div class="search-form">
                            <form class="form-row">
                                <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                                    <!-- select -->
                                    <select class="wide">
                                        <option value="Venue Type">Vendor Type</option>
                                        <option value="Venue">Venue</option>
                                        <option value="Florist">Florist</option>
                                        <option value="Cake">Cake</option>
                                        <option value="Photographer">Photographer</option>
                                        <option value="Catering">Catering</option>
                                        <option value="Dress">Dress</option>
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                                    <!-- select -->
                                    <select class="wide">
                                        <option value="Ahmedabad" data-display="Ahmedabad">Ahmedabad</option>
                                        <option value="Surat">Surat</option>
                                        <option value="Rajkot">Rajkot</option>
                                        <option value="Vadodara">Vadodara</option>
                                        <option value="Vapi">Vapi</option>
                                        <option value="Bhavnagar">Bhavnagar</option>
                                    </select>
                                </div>
                                <!-- button -->
                                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
                                    <button class="btn btn-default btn-block" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.search-form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}
        <!-- venue-categoris-section-->
        <!-- <div class="space-ex-large bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-title">
                            <h2 class="mb10">Most Popular Categories</h2>
                            <p>Browse our most popular category and vendor or supplier listing.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for obj in booking_purpose %}
                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="vendor-categories">
                            <div class="vendor-category-image">
                                <a href="javascript:void(0)"><img src="{% if obj.image %}{% url 'obj.image.url' %} {% else %} {% static 'assets/images/category_placeholder.jpg' %} {% endif %}" alt=""></a>
                            </div>
                            <div class="vendor-categories-content">
                                <h3 class="vendor-categories-heading"><a href="#" class="vendor-categories-name">{{ obj.name }}</a></h3>
                                <span class="vendor-categories-count">{{ obj.venue_set.all.count }}</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div> -->
        <div class="space-medium bg-white">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="section-title text-center">
                            <!-- section title start-->
                            <h2 class="mb10">Browse Popular by Category</h2>
                            <p>You can browse all venues by category with thumbnail image and category name.</p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row">
                    {% for obj in booking_purpose %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="vendor-categories-block zoomimg">
                            <div class="vendor-categories-img"> <a href="javascript:void(0)"><img src="{% if obj.image %}{{ obj.image.url }} {% else %} {% static 'assets/images/category_placeholder.jpg' %} {% endif %}" alt=""></a></div>
                            <div class="vendor-categories-overlay">
                                <div class="vendor-categories-text">
                                    <h4 class="mb0"><a href="#" class="vendor-categories-title">{{ obj.name|title }}</a></h4>
                                    <p class="vendor-categories-numbers">{{ obj.venue_set.all.count }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:7 %}
                    </div><div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mt20"><a href="#" class="btn btn-primary btn-lg">Browse all category</a></div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- /.venue-categoris-btn -->
            </div>
        </div>

        <div class="space-ex-large">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-title">
                            <!-- section title start-->
                            <h2 class="mb10">Popular Venues Listing</h2>
                            <p>Find our most popular listing with featured listing from famous city or vendors.</p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="venue-thumbnail-carousel">
                    <div class="owl-carousel owl-theme owl-venue-thumb">
                        {% for obj in popular_venues %}
                        <div class="item">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="vendor-thumbnail">
                                    <div class="vendor-img zoomimg">
                                        <a href="{{ obj.get_absolute_url }}"><img src="{% if obj.image %}{{ obj.image.url }}{% endif %}" alt=""  class="img-fluid"></a>
                                        <div class="wishlist-sign"><a href="#" class="btn-wishlist"><i class="fa fa-heart"></i></a></div>
                                    </div>
                                    <div class="vendor-content">
                                        <h2 class="vendor-title"><a href="{{ obj.get_absolute_url }}" class="title">{{ obj.name|title }}</a></h2>
                                        <p class="vendor-address"><span class="vendor-address-icon"><i class="fa fa-map-marker-alt"></i> </span> {{ obj.state }}, {{ obj.city }}</p>
                                    </div>
                                    <div class="vendor-meta">
                                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                            <span class="vendor-price">
                                        $150
                                    </span>
                                            <span class="vendor-text">Start From</span></div>
                                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                            <span class="vendor-guest">
                                        {{ obj.seating_capacity }}
                                    </span>
                                            <span class="vendor-text">Guest</span>
                                        </div>
                                        <div class="vendor-meta-item vendor-meta-item-bordered">
                                            <span class="rating-star">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rate-mute"></i> 
                                        </span>
                                            <span class="rating-count vendor-text">(20)</span></div>
                                    </div>
                                </div>
                                <!-- /.Vendor thumbnail -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <a href="#" class="btn btn-primary">View All Listing</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.venue-categoris-section-->
        <div class="space-ex-large">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-title">
                            <!-- section title start-->
                            <h2 class="mb10">How it works</h2>
                            <p>Simple three easy step to setting up your free! wedding account and hire vendor for your special day.
                            </p>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="how-it-block text-center">
                            <div class="how-it-block-circle">
                                <img src="{% static 'assets/images/how-it-icon-1.png' %}" alt="">
                            </div>
                            <div class="how-it-block-content">
                                <h3 class="how-it-block-title">Find Best Venue</h3>
                                <p class="how-it-block-descriptions">Many desktop publishing packages and web page editors now u se Lorem Ipsu m as their default model text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="how-it-block text-center">
                            <div class="how-it-block-circle">
                                <img src="{% static 'assets/images/how-it-icon-2.png' %}" alt="">
                            </div>
                            <div class="how-it-block-content">
                                <h3 class="how-it-block-title">Book Venue</h3>
                                <p class="how-it-block-descriptions">Many desktop publishing packages and web page editors now u se Lorem Ipsu m as their default model text.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="how-it-block text-center">
                            <div class="how-it-block-circle">
                                <img src="{% static 'assets/images/how-it-icon-3.png' %}" alt="">
                            </div>
                            <div class="how-it-block-content">
                                <h3 class="how-it-block-title">Make Great Event</h3>
                                <p class="how-it-block-descriptions">Many desktop publishing packages and web page editors now u se Lorem Ipsu m as their default model text.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    {% endblock %}